@page "/"

<PageTitle>Home</PageTitle>

<h1>Where is Todd?</h1>
<ul>
    <li>2026-02-23 08:45 - appointment at 9</li>
    <li>2026-02-20 12:40 - stepping out for lunch</li>
    <li>2026-02-18 09:09 - 3:00 telehealth appointment (heads up)</li>
    <li>2026-02-16 08:44 - taking a day today</li>
    <li>2026-02-12 16:57 - logging off (it has been a day)</li>
    <li>history truncated due to developer laziness</li>
</ul>
